doctype html
html
  head
    title PGDRE
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="icon" type="image/x-icon" href="/images/favicon.png")
  body
    block content
