extends layout

block content
    .w3-card-4
    header.w3-container.w3-blue
      h1 Profile
    
    .w3-container  
        ul 
            li #[b Nome:] Por implementar!
            li #[b Email:] Por implementar!   
            li #[b Username:] Por implementar!   
            li #[b Papel:] Por implementar! 

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d}